.without_favorites{
    grid-template-columns: 100% !important;
}

.favorites {
    margin-top: 80px;
    background-color:  rgb(222, 200, 253);
    text-align: center;
   
    &_ul {
        margin-inline: 25%;
    }
    &_btnDelete {
        @include border-size;
        padding-inline: 40px;
        margin-right: 40px;
        border-color:  $color-titles-btn;
        margin-top: 35px;
        width: 200px;
        height: 45px;
        background-color:  $color-titles-btn;
        color:$color-background-letter;
        transition: background-color 0.8s ease, transform 0.8s ease;
    }
    &_btnDelete:hover {
        background-color: $color-transform-btn; 
        transform: scale(1.3); 
    }
  }
  
.display {
    display: none;
}
 