
.footer {
    position: fixed;
    bottom: 0; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(129, 53, 243);
    color: white;
  }