* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input_text {
  width: 70%;
  height: 30px;
  border-color: rgb(39, 39, 211);
}

.btnSearch {
  width: 8%;
  height: 30px;
  background-color: rgb(39, 39, 211);
  border-color: rgb(39, 39, 211);
  color: white;

}

.characters_ul {
  margin-inline: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;

}
.characters_item {
  list-style-type: none;
  width: 100%;
  height: auto;

}

.section {
display: grid;
grid-template-columns: 30% 70% ;
}

.favorite {
  background-color: red;
  border: 5px red;
}
.favorite_section {

  background-color: aquamarine;
}