* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input_text {
  width: 70%;
  height: 30px;
  border-color: rgb(39, 39, 211);
}

.input_search {
  width: 8%;
  height: 30px;
  background-color: rgb(39, 39, 211);
  border-color: rgb(39, 39, 211);
  color: white;

}

.characters_ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;

}
.characters_item {
 
  width: 100%;
  height: auto;
}